// Varibles
$bg: rgb(15, 15, 16);
$text: rgb(245, 245, 245);

// Imports
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Styling
* {
    font-family: "Inter" !important;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body {
    background-color: $bg;
    color: $text;
    margin: 4rem 2rem;
}

// Scrollbar
:root {
    color-scheme: dark;
}

body::-webkit-scrollbar{
    display: none;
}